<header id="content-header">
    <h1>Reviews for <%= link_to(@movie.title, @movie) %></h1>

<ol id="reviews">
  <% @reviews.each do |review| %>
    <li>
      <span class="review">Rating: <%= review.rating %>/5</span>
      <span class="user">by <%= review.email %></span>
      <strong class="revie">Posted</strong>
      <span class="date"><%= review.created_at %> </span>
      <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>
      <p>
        &quot;<%= review.comment %>&quot;
      </p>
    </li>
  <% end %>
</ol>
</header>
